django==1.11.29
requests==2.12.4
beautifulsoup4==4.5.1
selenium==3.0.2
openpyxl==2.4.1
scikit-learn==0.18.1
scipy==0.18.1
matplotlib==v2.0.0rc2
scikit-image==v0.12.3
pandas==v0.19.2
numpy==v1.12.0rc1
